<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<div>
    <br/>
    <form th:method="patch" th:action="@{/edit/{id}(id=${user.getId()})}" th:object="${user}">
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name">
        <br/>

        <label for="lastname">lastName</label>
        <input th:field="*{lastName}" type="text" id="lastname">
        <br/>

        <label for="age">Age</label>
        <input th:field="*{age}" type="number" id="age">
        <br/>

        <input type="submit" value="Refresh">
    </form>
</div>
</body>
</html>